<!DOCTYPE html>
<html>
	<head>
		<style>
			
			@page {
				size: portrait;
				margin: 10%;
			}
			
			body{
				font-size:11px;
				line-height: 1.5em;
				font-family: verdana,sans-serif;
			}
			
			p{
				font-size:11px;
				line-height: 1.5em;
				font-family: verdana,sans-serif;
			}
			
			.hidden{
				font-size:1px;
				color: #ffffff;
			}
		
		</style>

	</head>

	<body>
		#if($isPageSplitMetaDataHidden)
			#set($metaDataClass = "hidden")
		#else
			#set($metaDataClass = "")
		#end
		
		#set($maxRandomIndex = $splitIdentifiers.size())
		#set($maxRandomIndex = $maxRandomIndex - 1)
		
		<p class="$metaDataClass">document_split_parts[$splitIdentifiers.get($math.random(0, $maxRandomIndex))]</p>
		#foreach($para in $paragraphs)
			#if($foreach.count > 0 && $foreach.count % 5 == 0)
				<p class="$metaDataClass" style="page-break-before:always;">
					document_split_parts[$splitIdentifiers.get($math.random(0, $maxRandomIndex))]<br/>
				</p>
				<p>$para</p>
			#else
				<p>$para</p>	
			#end
		#end
		
	</body>
	
</html>
